.hero {
  background: #232328;
  text-align: center;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero .logo img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

.hero-container {
  max-width: 660px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.search > div {
  display: block !important;
  position: relative;
}

.search > div input + div {
  left: 0 !important;
  top: 100% !important;
  position: absolute !important;
  max-height: 200px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  z-index: 1000;
}

.hero-text {
    margin: 20px 0;
}

.hero .search input {
    background: #4f4f53;
    border: 0;
    width: 100%;
    color: #fff;
    outline: 0;
    padding: 20px;
    font-size: 18px;
    border-radius: 3px;
}

.autocomplete-item {
  color: #333 !important;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}
